/* videoquimica.css */

.video-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.video-player {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
